/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 08/23/2023
    Author: Jewel James
    Repo: https://github.com/jamjewel/jamjewel.github.io

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and sent to the /css folder which is then loaded on the page.
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body.active {
    overflow: hidden;
    z-index: -1;
}

/* Other CSS rules... */

/* Media Queries */

@media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }
    .vtimeline-icon {
        margin-left: 0;
    }
    .vtimeline-content {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }
    #lead-content h1 {
        font-size: 3em;
    }
    #lead-content h2 {
        font-size: 1.75em;
    }
    #about {
        text-align: center;
    }
    #about p {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
    #lead-content h1 {
        font-size: 2em;
    }
    #lead-content h2 {
        font-size: 1.3em;
    }
    #lead-content a {
        padding: 10px 20px;
    }
    #lead-down {
        display: none;
    }
    .education-block h3,
    .education-block span {
        float: none;
    }
    .project-image {
        display: none;
    }
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }
    footer {
        text-align: center;
    }
    .social {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em;
    }
    #lead-content h2 {
        font-size: 1em;
    }
    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px;
    }
}
